<h2>Edit <%=@event.name%> Profile:</h2>
<form method="POST" action ="/events/<%= @event.id%>">
  <input type="hidden" id="hidden" name=_method value="PATCH">
  <label> Name:</label>
  <input type="text" name="name" value="<%= @event.name%>">
  <br><br>
  <label> Event Date:</label>
  <input type="text" name="event_date" value="<%= @events.event_date%>">
  <br><br>
  <label> Location:</label>
  <input type="text" name="location" value="<%= @event.location%>"> 
  <br><br>
    <label> Time:</label>
  <input type="text" name="time" value="<%= @event.time%>"> 
  <br><br>
  <label> Category:</label>
  <input type="text" name="category" value="<%= @event.category%>"> 
  <br><br>
  <input type="submit" value="submit">
</form>


